<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                 <p>
                    <a [routerLink]="['/user/buyersreporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                        <img src="../assets/images/buyer-icon.svg" class="mb-4">
                    <br>
                        {{'Buyers' | translate}} 
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <p>
                    <a [routerLink]="['/user/commoditiesreporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                        <img src="../assets/images/buyer-icon2.svg" class="mb-4">
                    <br>
                    {{'Commodities' | translate}}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <a [routerLink]="['/user/plantsreporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                    <img src="../assets/images/buyer-icon.svg" class="mb-4">
                <br>
                {{'Plants' | translate}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <a [routerLink]="['/user/vendorsreporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                    <img src="../assets/images/buyer-icon2.svg" class="mb-4">
                <br>
                {{'Vendors' | translate}}
                </a>                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <a [routerLink]="['/user/materialsreporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                    <img src="../assets/images/buyer-icon2.svg" class="mb-4">
                <br>
                {{'Materials' | translate}}
                </a>                 
            </div>
        </div>
    </div>
    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <a [routerLink]="['/admin/openordersreporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                    <img src="../assets/images/buyer-icon.svg" class="mb-4">
                <br>
                Open Orders
                </a>                
            </div>
        </div>
    </div> -->
    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <a [routerLink]="['/admin/pastdueordersreporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                    <img src="../assets/images/buyer-icon2.svg" class="mb-4">
                <br>
                Past Due Orders
                </a>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <a [routerLink]="['/admin/ackdneededorderseporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                    <img src="../assets/images/buyer-icon.svg" class="mb-4">
                <br>
                Ack’d Needed Orders
                </a>
                </div>
        </div>
    </div> -->
    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <a [routerLink]="['/admin/futurepastduereporthistory']"  style="color:#3F4040;font-weight: 600;">                        
                    <img src="../assets/images/buyer-icon.svg" class="mb-4">
                <br>
                Future Past Due
                </a>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="text-center m-3">
                <img src="../assets/images/buyer-icon.svg">
                <p class="pt-4" style="color:#3F4040;font-weight: 600;">Lead Time Check</p>
            </div>
        </div>
    </div> -->
</div>
