<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">

        <div class="card p-4">
            <!-- row -->
            <div class="row">
                <div class="col-md-10 pl-0">
                    <div class="range pl-3 pr-4">
                        <div class="sliderValue">
                            <span>100</span>
                        </div>
                        <div class="field">
                            <div class="value left">0 Day</div>
                            <input type="range" min="0" max="30" value="0" steps="1" />
                            <div class="value right">30 Days</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <a class="btn btn-primary mr-2 mb-3 ven-re-btn-ran w-100 mt-4">Proceed</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">VendorOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Vendor Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Vendor Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Vendor Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Vendor Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Vendor Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Vendor Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">BuyerOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Buyer Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">BuyerOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Buyer Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">BuyerOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Buyer Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">BuyerOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Buyer Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">BuyerOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Buyer Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">BuyerOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Buyer Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">BuyerOpenPOLine</span><span
                                        class="pr-3" style="float: right;cursor: pointer;" mat-button
                                        (click)="openDialog()">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>

                                <p class="text-center mb-0">
                                    <span class="total-red-new-ven buyeropenpoLine1">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine2">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine3">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine4">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine5">Buyer Name</span>
                                    <span class="total-red-new-ven buyeropenpoLine6">Buyer Name</span>
                                </p>

                                <app-totalscore-graph class="text-center"></app-totalscore-graph>

                                <div class="row">
                                    <div class="col-md-5 ml-auto d-flex">
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">Download Data</a>
                                        <a class="btn btn-primary mr-2 ven-re-btn-ran w-100 mt-4">View Data</a>
                                    </div>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:14px;" class="pl-3">Showing 1 to 10 of 57 entries</p>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="pagination-responsive">
                            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                              <ng-template ngbPaginationPrevious>Previous</ng-template>
                              <ng-template ngbPaginationNext>Next</ng-template>
                              <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        
    </div>
</div>

<!--**********************************
    Content body end
***********************************-->