<mat-card >
    <div class="responsive" style="width: 100%!important;">
        <div class="d-flex align-items-center justify-content-between pb-2 border-b">
            <ng-content select="title"></ng-content>
            <div class="d-flex align-items-center">
                <mat-form-field style="margin-bottom: -1.25em;max-width: 24rem;" class="-mt-1">
                    <input type="text" 
                    [formControl]="searchText$"
                    matInput 
                    placeholder="{{'Search' | translate}}"
                    autocomplete="Off" style="margin-top: 0.0630em; border-bottom:#ccc solid 1px;"/>

                </mat-form-field>

                <!-- <button  class="export-button" (click)="processExport()">
                                    {{'Export CSV' | translate}}

                </button> -->
                
                <!-- <mat-menu #columnFilter="matMenu" (click)="$event.stopPropagation()">
                    <div class="px-2 py-1" *ngFor="let col of allColumns" (click)="$event.stopPropagation()">
                        <mat-checkbox class="block" [checked]="col.show" (change)="col.show = $event.checked"
                            color="primary">{{ col.name }}</mat-checkbox>
                    </div>
                </mat-menu>  -->
                <!-- <mat-select [formControl]="displayedColumns" multiple class="border">
            <mat-option *ngFor="let column of columns" [value]="column.def">{{
                column.name
            }}</mat-option>
            </mat-select>

                <!-- <div *ngIf="isQuestion == true">
            <button mat-button color="primary" (click)="onFilterClick()">
            <mat-icon>filter_list</mat-icon>
            </button>
            </div> -->
            </div>
        </div>
        
        <mat-card-content class="relative po-new-table" style="overflow-x:auto !important;" >
            <table 
            style="overflow-x:auto;" mat-table 
            [dataSource]="dataSource" 
            matSort 
            style="width:100%" >
                <ng-container *ngFor="let column of filteredColumns">
                <ng-container [matColumnDef]="column.def" [sticky]="column?.isSticky" >
                    
                        <ng-container *ngIf="column.noSort; else noSort">
                            <th  class=" px-2 text-center whitespace-nowrap" (click)="onHeadingClick(column.name,$event)" mat-header-cell *matHeaderCellDef
                                mat-sort-header>
                                {{ column.name | translate}} 
                            </th>
                        </ng-container>
                        <ng-template #noSort>
                            <th  class=" px-2 text-center whitespace-nowrap" mat-header-cell *matHeaderCellDef
                                mat-sort-header (click)="onHeadingClick(column,$event)" >
                                <mat-checkbox style="margin-top:1rem !important;" *ngIf="column.name == 'Compare'" (change)="onHeaderCheckBoxTick($event)"></mat-checkbox> 
                                <div style="text-align: left;">
                                    <span>{{ column.name | translate }}</span>
                                
                                    <span class="sub-heading" *ngIf="column.hasOwnProperty('subHeading')" >{{column.subHeading}}</span>
                                </div>
                            </th>
                        </ng-template>

                    <td class="px-2 whitespace-nowrap" mat-cell *matCellDef="let element">
                        <ng-container *ngIf="column.projection" class="px-2">
                            <ng-template *ngTemplateOutlet="
                    templateOutlet;
                    context: {
                        $implicit: column,
                        element: element,   
                        value: columnValue(element, column)
                    }
                    "></ng-template>
                        </ng-container>
                        <span *ngIf="!column.projection" class="px-2">
                        {{
                            columnValue(element, column) | translate
                            }}</span>
                    </td>
                </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <tr *matNoDataRow>
                    <td class="p-2 text-danger  whitespace-nowrap" colspan="100%">
                        <span *ngIf="fetching">{{'No Record'| translate}}</span>
                        <span *ngIf="!fetching && !dataSource?.length">{{'No Record'| translate}}</span>
                    </td>
                </tr>
            </table>
        </mat-card-content>


        <mat-paginator #paginator
            [length]="totalRecords"
            [pageSizeOptions]="pageSizeOptions"
            (page)="paginatorUpdated($event)"
            aria-label="Select page of search results">
        </mat-paginator>
    </div>
</mat-card>
