<div class="card p-4 mb-4 pb-0">
    <div class="otd-para pr-0">
        <div class="row">
            <div class="col-md-6">
                <h4 class="mb-0 pro-name uer-font text-height-3" style="line-height: 30px;font-size: 15px;">
                    <!-- {{byopenpotitle}}--> <span style="color:#d51b22;">Smiletale</span> % By <span style="color:#d51b22;">Plant2</span>
                </h4>
                <div class="form-group openorde">
                    <div class="row">
                        <div class="col-md-3 pr-0">
                            <label>
                                <h3 class="pt-0 mt-3 pl-0 pt-3">All Open Order%</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <h3 class="pt-2 text-left">Spend% 1</h3>
                            <input type="text" placeholder="25%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <h3 class="pt-2 text-left">Line%</h3>
                            <input type="text" placeholder="30%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2  timepla">
                            <h3 class="pt-2 text-left">Time</h3>
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-1"><label class="pr-2">
                                <h3 class="pt-1  pl-0">Pastdue%asasas</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="80%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="27.5%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2 timepla">
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-1"><label class="pr-2">
                                <h3 class="pt-1  pl-0">Need Ack'd</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="2%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="7.5%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2 timepla">
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-0">
                            <label class="pr-0">
                                <h3 class="pt-1 pl-0">Due in <span style="color:#d51b22;">50</span> Days</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="11.25%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="2%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2 timepla">
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="mb-0 pro-name uer-font text-height-3" style="line-height: 30px;font-size: 15px;">
                    <!-- {{byopenpotitle}}--> <span style="color:#d51b22;">Smiletale %</span> By <span style="color:#d51b22;">Smiletale Plant2</span>
                </h4>
                <div class="form-group openorde">
                    <div class="row">
                        <div class="col-md-3 pr-0">
                            <label>
                                <h3 class="pt-0 mt-3 pl-0 pt-3">All Open Order%</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <h3 class="pt-2 text-left">Spend% 1</h3>
                            <input type="text" placeholder="100%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <h3 class="pt-2 text-left">Line%</h3>
                            <input type="text" placeholder="100%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2  timepla">
                            <h3 class="pt-2 text-left">Time</h3>
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-1"><label class="pr-2">
                                <h3 class="pt-1  pl-0">Pastdue%</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="50%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="91.66%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2 timepla">
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-1"><label class="pr-2">
                                <h3 class="pt-1  pl-0">Need Ack'd</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="80%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="25%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2 timepla">
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-0">
                            <label class="pr-0">
                                <h3 class="pt-1 pl-0">Due in <span style="color:#d51b22;">50</span> Days</h3>
                            </label>
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="45%" class="form-control mr-2">
                        </div>
                        <div class="col-md-2 pr-0 pl-2">
                            <input type="text" placeholder="6.67%" class="form-control mr-2">
                        </div>
                        <div class="col-md-4 pr-0 pl-2 timepla">
                            <input type="text" placeholder="08/1/2021 - 10/13/2022" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




