<div class="content-body pt-0">
    <div class="container-fluid">

        <div class="row mt-5">
            <div class="col-lg-12 mt-5">
                <mat-tab-group mat-align-tabs="center" class="subcrition-nav">
                    <mat-tab [label]="'Vendor Target' | translate">
                        <app-scoreus-target-score-vendor></app-scoreus-target-score-vendor>
                    </mat-tab>
                    <mat-tab [label]="'Buyer target' | translate">
                        <app-scoreus-target-score-buyer></app-scoreus-target-score-buyer>

                    </mat-tab>
                    <mat-tab [label]="'Commodity target' | translate">
                        <app-scoreus-target-score-commodity></app-scoreus-target-score-commodity>

                    </mat-tab>
                    <mat-tab [label]="'Plant target' | translate">
                        <app-scoreus-target-score-plant></app-scoreus-target-score-plant>

                    </mat-tab>
                    <mat-tab [label]="'Material target' | translate">
                        <app-scoreus-target-score-materials></app-scoreus-target-score-materials>

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>


    </div>
</div>