<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <!-- <app-filter-by-dropdown-two  [apiRoute]="'adminsetting/KPIParameterSettings'"></app-filter-by-dropdown-two> -->

    <app-vendorscorecard-boxes 
    subtitle="Material"
    [data]="materialStatistic"
    [dateDiff]="dateDiffSentance">
    </app-vendorscorecard-boxes>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-4" [matTooltip]="tips.vendorTotalScore"
        [matTooltipPosition]="'above'">
        <app-vendor-total-score
        
          totalscorename="Material Score"
          [data]="materialStatistic"
          [dateDiff]="dateDiffSentance"
          ></app-vendor-total-score>
      </div>
      
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0  mb-4" [matTooltip]="tips.colorZone"
        [matTooltipPosition]="'above'">
        <app-vendor-color-zone
         subtitle="Material"
        [colorZoneStat]="colorZoneStat"
        [dateDiff]="dateDiffSentance">
      </app-vendor-color-zone>
      </div>
    </div>
    

    <app-execute-material
      (previousDataEmitter) = getPreviousDate($event)
      [listsDropDown]="listsDropDown" 
      [materialPageLoad]="onMaterialPageLoad"
      (materialExecutiveDataEmitter)="getExecutiveData($event)"
      [loader]="loader"
      (materialAverageExecutiveDataEmitter)="getAverageFormGroupData($event)"
     ></app-execute-material>


    

    <!-- [closeOthers]="true" -->


    <div class="col-sm-12 mb-3" id="totalscore" #score>
      <mat-card class="example-card">
        <div class="d-flex">
          <div class="mr-auto"></div>
          <button (click)="popUpChart('Total Score')" class="button_background"
            matTooltip="Click to open popup chart"><span class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
          </button>
        </div>
        <div>   
          <div class="d-flex justify-content-center w-100 pb-3">
            <div class="justify-content-end">
              <h3>{{ 'Total Score' | translate}}</h3>
            </div>
          </div>

        </div>
        <mat-card-content>
          <app-twoline-basic-line-chart 
          [vendorTotalScore]="totalScores" 
          (charDataEmitter)="getChartData($event)"
          [executeData]="apiData"></app-twoline-basic-line-chart>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-lg-12 col-sm-12 mb-3" id="colorZone" #colorZone>
      <mat-card class="example-card">
        <div class="d-flex">
          <div class="mr-auto"></div>
          <button (click)="popUpChart('colorZone')" class="button_background"
            matTooltip="Click to open popup chart"><span class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
          </button>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image w-100 text-center">{{ 'Color zone' | translate}}</div>
          <mat-card-title class=""></mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <app-basic-line-chart 
          [colorZoneGraphData]="colorZoneGraphData" 
          (charDataEmitter)="getChartData($event)" 
          [name]="'colorZone'" 
          [executeData]="apiData" >
        </app-basic-line-chart>
        </mat-card-content>
      </mat-card>

    </div>






    <!-- Table Start -->
    <app-material-scorecard-table 
    subtitle="Material"
    [materialData]="materialData" 
    [apiRequestData]="apiRequestData" 
    (materialDataEmitter)="getMaterialGraphData($event)"  
    [data]="dataForMaterialStatistics" 
    ></app-material-scorecard-table>
    <!-- Table close -->
    
    <!-- (formDataEmitter)="sendMaterialReport($event)"  -->
    
    <!-- [closeOthers]="true" -->


    <div class="col-sm-12 mb-3" id="score" #score>
      <mat-card class="example-card">
        <div class="d-flex">
          <div class="mr-auto"></div>
          <button (click)="popUpChart('Compare Total Score')" class="button_background"
            matTooltip="Click to open popup chart"><span class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
          </button>
        </div>
        <div>
          <div class="d-flex justify-content-center w-100 pb-3">
            <div class="justify-content-end">
              <h3>{{'Compare Total Score' | translate}}</h3>
            </div>
          </div>

        </div>
        <mat-card-content>
          <app-twoline-basic-line-chart
           [scoreCardGraphHeading]="'Compare total score'" 
           [requiredScorecardGraphData]="requiredMaterialGraph"
           [graphData]="totalCompareScoreList"
           (charDataEmitter)="getChartData($event)"
           [helper]="'compare'"
           [executeData]="apiData"
           [averageScore]="compareAverageScore"></app-twoline-basic-line-chart>
        </mat-card-content>
      </mat-card>
    </div>




    <div class="row mb-3">

      <div class="col-lg-6 mb-3" #otd%>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('OTD percentage')" class="button_background"
              matTooltip="Click to open popup chart"><span class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'OTD Percentage' | translate}}</div>

            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'OTD percentage'" 
            [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="otdPercentageGraphData"
            [averageScore]="otdAverageScore"
            (charDataEmitter)="getChartData($event)"
            [executeData]="apiData"
            ></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>

      <div class="col-lg-6 mb-3" #otd>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('OTD SCORE')" class="button_background" matTooltip="Click to open popup chart"><span
                class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'OTD SCORE' | translate }}</div>

            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'OTD SCORE'"
            [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="otdGraphData" 
            [averageScore]="otdAverageScore" 
            (charDataEmitter)="getChartData($event)"
            [executeData]="apiData"></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>
    </div>


    <!--div ncr  -->
    <div class="row mb-3">

      <div class="col-lg-6 mb-3" id="ncrP" #ncr%>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('NCR percentage')" class="button_background"
              matTooltip="Click to open popup chart"><span class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'NCR Percentage' | translate}}</div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'NCR percentage'"
            [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="ncrPercentageGraphData"
            [averageScore]="ncrAverageScore" 
            (charDataEmitter)="getChartData($event)"
            [executeData]="apiData"></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>

      <div class="col-lg-6 mb-3" #ncr>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('NCR SCORE')" class="button_background" matTooltip="Click to open popup chart"><span
                class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'NCR SCORE' | translate}}</div>

              
            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'NCR SCORE'" [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="ncrGraphData" [averageScore]="ncrAverageScore" (charDataEmitter)="getChartData($event)"
              [executeData]="apiData"></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>

    </div>
<!-- div ncr -->

    <!-- div ppv lta -->
    <div class="row mb-3">

      <div class="col-lg-6 mb-3" #ppv%>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('PPV percentage')" class="button_background"
              matTooltip="Click to open popup chart"><span class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'PPV Percentage' | translate}}</div>

              
            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'PPV percentage'" 
            [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="ppvPercentageGraphData" 
            [averageScore]="ppvAverageScore" 
            (charDataEmitter)="getChartData($event)"
            [executeData]="apiData"></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>

      <div class="col-lg-6 mb-3" #ppv>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('PPV SCORE')" class="button_background" matTooltip="Click to open popup chart"><span
                class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'PPV SCORE' | translate}}</div>

              
            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'PPV SCORE'" 
            [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="ppvGraphData" 
            [averageScore]="ppvAverageScore" 
            (charDataEmitter)="getChartData($event)"
            [executeData]="apiData"></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>



    </div>

    <div class="row mb-3">

      <div class="col-lg-6 mb-3" #ltaP>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('LTA percentage')" class="button_background"
              matTooltip="Click to open popup chart"><span class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'LTA Percentage' | translate}}</div>

            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'LTA percentage'" 
            [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="ltaPercentageGraphData"
            [averageScore]="ltaAverageScore"
            (charDataEmitter)="getChartData($event)"
            [executeData]="apiData"></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>

      <div class="col-lg-6" #lta>
        <mat-card class="example-card">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <button (click)="popUpChart('LTA SCORE')" class="button_background" matTooltip="Click to open popup chart"><span
                class="material-icons"><i class="fa fa-expand" aria-hidden="true"></i></span>
            </button>
          </div>
          <mat-card-header>
            <div class="d-flex flex-column w-100">
              <div class="text-center w-100" style="font-weight:700;">{{ 'LTA SCORE' | translate}}</div>

              
            </div>
          </mat-card-header>
          <mat-card-content>
            <app-twoline-basic-line-chart
            [scoreCardGraphHeading]="'LTA SCORE'"
            [requiredScorecardGraphData]="requiredMaterialGraph"
            [graphData]="ltaGraphData" 
            [averageScore]="ltaAverageScore" 
            (charDataEmitter)="getChartData($event)"
            [executeData]="apiData"></app-twoline-basic-line-chart>
          </mat-card-content>
        </mat-card>



      </div>



    </div> 
<!-- div ppv lta -->
  </div>

</div>