<div class="row">
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use">
            <p>Plant Counts</p>
            <h2><b>5</b></h2>
            <h3>2.3% <img src="../assets/images/ic-arrow-narrow-up.svg" alt="">
                <span>than last year</span>
            </h3>
            <div class="new-use-red-b">
                <div class="align-items-center"><img src="../assets/images/newuser.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use active-user ">
            <p>Vendor Counts</p>
            <h2><b>550</b></h2>
            <h3 class="red-num">1.2% <img src="../assets/images/arrow-narrow-up.png" alt="">
                <span>than last year</span>
            </h3>
            <div class="new-use-red-b active-user-box">
                <div class="align-items-center"><img src="../assets/images/activeuser.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use">
            <p>Buyer Counts</p>
            <h2><b>7</b></h2>
            <h3>2.3% <img src="../assets/images/ic-arrow-narrow-up.svg" alt="">
                <span>than last year</span>
            </h3>
            <div class="new-use-red-b">
                <div class="align-items-center"><img src="../assets/images/ppv.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use active-user">
            <p>Material Counts</p>
            <h2><b>31</b></h2>
            <h3 class="red-num">2.3% <img src="../assets/images/arrow-narrow-up.png" alt="">
                <span>than last year</span>
            </h3>
            <div class="new-use-red-b active-user-box">
                <div class="align-items-center"><img src="../assets/images/materialregistrations-icon.png" alt=""></div>
            </div>
        </div>
    </div>
</div>