<div class="row">
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use">
            <p class="pb-4 mb-3">Total Open PO</p>
            <h2>20 Lines <span class="pl-3">20%</span></h2>
            <h2>$30,000 <span class="pl-3">30%</span></h2>
            <div class="new-use-red-b">
                <div class="align-items-center"><img src="../assets/images/newuser.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use active-user ">
            <p class="pb-4 mb-3">Total Pastdue PO</p>
            <h2>40 Lines <span class="pl-3">50%</span></h2>
            <h2>$40,000 <span class="pl-3">30%</span></h2>
            <div class="new-use-red-b active-user-box">
                <div class="align-items-center"><img src="../assets/images/activeuser.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use">
            <p class="pb-4 mb-3">Total Ack'd Needed PO</p>
            <h2>20 Lines <span class="pl-3">20%</span></h2>
            <h2>$30,000 <span class="pl-3">30%</span></h2>
            <div class="new-use-red-b">
                <div class="align-items-center"><img src="../assets/images/ppv.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use active-user">
            <p class="pb-0 mb-0">Total Future Pastdue PO</p>
            <div class="form-group row mb-1">
                <div class="col-sm-3 otd-para pl-1 pr-2 pb-1">
                    <input type="text" class="form-control" placeholder="14" style="width:50px;text-align: center;margin-left: 10px;">
                </div>
                <label class="col-sm-6 col-form-label larec pt-0"
                    style="color:#fff;font-size: 13px;font-weight: 400;">Days</label>
            </div>
            <h2>40 Lines <span class="pl-3">50%</span></h2>
            <h2>$40,000 <span class="pl-3">45%</span></h2>
            <div class="new-use-red-b active-user-box">
                <div class="align-items-center"><img src="../assets/images/materialregistrations-icon.png" alt=""></div>
            </div>
        </div>
    </div>
</div>