<div class="authincation h-100 login-bg">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <!-- <span *ngIf="showLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
            <div class="col-lg-5 col-md-7">
                <div class="text-center pb-5">
                    <!-- <a [routerLink]="['/admin/index']"></a> -->
                    <!-- <img src="assets/images/login-logo.png" width="200" alt=""> -->
                </div>
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <h4 class="text-center mb-4"  style="font-weight: 600;">Reset Password</h4>

                                <form [formGroup]="ResetPasswordForm">                                 
                                   

                                    <div class="mb-4">
                                        <div class="position-relative mt-4">
                                            <input name="password" [type]="showPassword ? 'text' : 'password'"
                                                class="form-control pwd-control" placeholder="Password"
                                                formControlName="password" />
                                            <div class="eyeico">
                                                <i alt="show" class="fa fa-eye-slash eye-show fa-lg"
                                                    (click)="showPassword = !showPassword"
                                                    [class.hide]="showPassword"></i>
                                                <i alt="hide" class="fa fa-eye eye-hide fa-lg"
                                                    (click)="showPassword = !showPassword"
                                                    [class.hide]="!showPassword"></i>
                                            </div>
                                            <mat-error *ngIf="isControlHasError('password','required')">
                                                <p class="pt-2">Password Required</p>
                                            </mat-error>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <!-- <input matInput class="border-0" placeholder="Confirm Your Password*" value=""
                                            formControlName="confirmpassword"> -->
                                        <div class="position-relative mt-4">
                                            <input [type]="showconfirmPassword ? 'text' : 'password'"
                                                class="form-control pwd-control" placeholder="Confirm Your Password*"
                                                formControlName="confirmpassword" />
                                            <div class="eyeico">
                                                <i alt="show" class="fa fa-eye-slash eye-show fa-lg"
                                                    (click)="showconfirmPassword = !showconfirmPassword"
                                                    [class.hide]="showconfirmPassword"></i>
                                                <i alt="hide" class="fa fa-eye eye-hide fa-lg"
                                                    (click)="showconfirmPassword = !showconfirmPassword"
                                                    [class.hide]="!showconfirmPassword"></i>
                                            </div>
                                            <mat-error *ngIf="isControlHasError('confirmpassword','required')">
                                                <p>Confirm Password Required</p>
                                            </mat-error>
                                            <mat-error *ngIf="ResetPasswordForm.get('confirmpassword').errors && ResetPasswordForm.get('confirmpassword').errors.confirmpassword">
                                                <p>Password didn't match.</p>
                                            </mat-error>
                                        </div>
                                    </div>

                                    
                                    <div class="text-center mt-3 mb-4  pl-5 pr-5">
                                        <button (click)="onsubmit()" class="btn btn-primary btn-block mb-4">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>