<!--**********************************
	Content body start
***********************************-->
<div class="content-body pt-0">
    <div class="container-fluid">

        <div class="row mt-5">
            <div class="col-lg-12 mt-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile card card-body px-3 pt-3 pb-0">
                            <div class="profile-head">
                                <div class="row">
                                    <!-- <div class="profile-name px-3 pt-2 col-lg-6 d-flex">
                                        <h4 class="mb-0 pro-name uer-font pr-4 pl-3">Purchase User</h4>
                                        <div class="form-check-inline" style="height:25px;">
                                            <button class="btn minus" (click)="minus()"><i
                                                    class="fa fa-minus"></i></button>
                                        </div>
                                        <div class="form-check-inline" style="height:25px;">
                                            <input type="text" class="form-control num-pup" [(ngModel)]="inputnumber">
                                        </div>
                                        <div class="form-check-inline" style="height:25px;">
                                            <button class="btn plus" (click)="plus()"><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                    </div> -->
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="salient-nav mb-4">
                                        <h2>PO Manager</h2>
                                        <h3>Silent Features</h3>
                                        <p>+ Invite Users</p>
                                        <p>+ Check reports</p>
                                        <p>+ Upload data</p>
                                        <p>+ Make analysis</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 ml-auto" style="display:table;">
                                    <div class="verti-bottom">
                                        <label class="switch" style="margin-bottom: 110px;">
                                            <input type="checkbox" class="switch-input">
                                            <span class="switch-label" data-yearly="Yearly"
                                                data-monthly="Monthly"></span>
                                            <span class="switch-handle"></span>
                                        </label>

                                        <button [routerLink]="['/admin/payment']"
                                        class="btn btn-primary profi-btn mb-4 pl-5 pr-5 mt-2 pt-2 pb-2 upgrade">Upgrade</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
      Content body end
  ***********************************-->