<!--********************************** 
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <!-- row -->
        <!-- <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12  col-6 deliver-nav  ml-auto">
                <div class="card card-body px-0 pt-0 pb-2">
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h2 class="mb-0 pl-4 pt-0">Total PO Lines</h2>
                            <h2 class="mb-0 pl-4 pt-0">{{totalRecords}}</h2>
                        </div>
                        <div class="col-md-6">
                            <h2 class="mb-0 pl-4 pt-0">Total PO Spend</h2>
                            <h2 class="mb-0 pl-4 pt-0">{{allSpend | number:'1.2-2'}}</h2>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h2 class="mb-0 pl-4 pt-0">Open PO up to</h2>
                        </div>
                        <div class="col-md-6 pr-4">
                            <div class="form-group otd-para pr-2 mb-0">
                                
                                <input type="text" placeholder="{{openPOUpToDate}}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div> -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="card p-4" style="padding-bottom: 12px !important;">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  col-6 deliver-nav">
                            <div class="row">
                                <div class="col-md-4">
                                    <div style="font-size: 16px;">{{"Total PO Lines" | translate}}: <span style="font-weight: bold;">{{totalRecords}}</span></div>
                                </div>

                                <div class="col-md-4">
                                    <div>{{"Total PO Spend" | translate}}: <span style="font-weight: bold;">${{allSpend | number:'1.3-3'}}</span></div>
                                </div>

                                <div class="col-md-4">
                                    <div>{{"Open PO up to" | translate}}: <span style="font-weight: bold;">{{openPOUpToDate}}</span></div>
                                </div>

                                <!-- <div class="col-md-3">
                                    <label class="col-form-label larec pt-0" style="color:#7E7F81;font-size: 15px;">Buffer Days</label>
                                    <input type="number" [(ngModel)]="filters.bufferDays" placeholder="3" 
                                    oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                    style="width:50px;text-align: center;margin-left: 10px;">
                                </div> -->

                               
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card p-4" style="padding-bottom: 12px !important;">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  col-6 deliver-nav">
                            
                            <h2 class="mb-0">{{"Report Option" | translate }}</h2>
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="filters.OnTimeDeliveryOption" class="rad-io d-flex pb-3">
                                <mat-radio-button  *ngFor="let item of listFilters" [value]="item.value">{{item.option | translate}}</mat-radio-button>  
                                
                                <!-- <div style="right: 0 !important;
                                position: absolute;
                                margin-right: 105px !important;">
                                    <label class="col-form-label larec pt-0" style="color:#7E7F81;font-size: 15px;">Fututre Days</label>
                                    <input type="number" [(ngModel)]="filters.selfdefinedfuturedays" placeholder="14" 
                                    oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                    style="width:50px;text-align: center;margin-left: 10px;">
                                </div> -->
                            </mat-radio-group>
                            
                            <div class="row"> 
                                <div class="col-md-3">
                                    <label class="col-form-label larec pt-0" style="color:#7E7F81;font-size: 15px;">{{"Buffer Days" | translate }}</label>
                                    <input type="number" [(ngModel)]="filters.bufferDays" placeholder="3" 
                                    oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                    style="width:100px;text-align: center;margin-left: 10px;" min="1">
                                </div>
                                
                                <div class="col-md-3">
                                    <label class="col-form-label larec pt-0" style="color:#7E7F81;font-size: 15px;">{{"Future Days" | translate }}</label>
                                    <input type="number" [(ngModel)]="filters.selfdefinedfuturedays" placeholder="14" 
                                    oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                    style="width:100px;text-align: center;margin-left: 10px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card p-4" style="padding-bottom: 12px !important;">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="d-flex">
                                <span class="vendor-per pt-2">{{"Plant" | translate}}:</span>
                                 <!-- <select class="form-control plant-select" [(ngModel)]="filters.plantCode" (change)="changePlanCode()">
                                    <option value="all">{{'All' | translate}}</option>
                                    <option *ngFor="let item of OpenOrderReportDropDowns.plants" [value]="item.plantCode">{{ item.plantName+" "+item.plantCode}}</option>
                                </select>  -->
                                <select class="form-control plant-select" [(ngModel)]="filters.plantCode" (change)="changePlanCode()">
                                    <option value="all">{{'All' | translate}}</option>
                                    <option *ngFor="let plant of allPlants" [value]="plant.item_id">{{plant.item_text+" "+plant.item_id}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group rad-io"
                                [(ngModel)]="filters.byBuyerOrSupplierOption">
                                <mat-radio-button class="example-radio-button pt-2" (change)="listPlantBVM($event)" *ngFor="let bvmoption of bvmoptions" [value]="bvmoption">{{bvmoption | translate}}</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col-md-5">
                            <div class="d-flex">
                                <span class="vendor-per pt-2 w-50" style="width: 130px !important;">{{filters.byBuyerOrSupplierOption | translate}}:</span>
                                <select class="form-control plant-select w-50" [(ngModel)]="filters.byBuyerOrSupplier" >
                                    <option value="all">{{'All' | translate}}</option>
                                    <option *ngFor="let item of plantBVMSelectboxLists" [value]="item.Code">{{item.Name+" "+item.Code}}</option>
                                </select>
                            </div>
                        </div>
                
                        <!-- <div class="col-md-2 ml-auto">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" style="border-radius: 50px;width: 100%;border:0px;white-space:nowrap;" (click)="Search()">{{"Search" | translate }}</button>
                                <button type="button" class="btn btn-primary" style="border-radius: 50px;width: 100%;border:0px;white-space:nowrap;" (click)="Search()">{{"Search" | translate }}</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="row mt-3" style="text-align: right;">
                        <div class="col-md-12 ml-auto">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary ven-re-btn-ran" style="border-radius: 50px;border:0px;white-space:nowrap;margin-right: 5px;" (click)="Reset()">{{"Reset" | translate }}</button>
                                <button type="button" class="btn btn-primary" style="border-radius: 50px;border:0px;white-space:nowrap;" (click)="Search()">{{"Execute" | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-xl-12 col-lg-12 col-md-12 mb-4 pl-0 " id="style-2"  *ngIf="showTable">
                    <p class="text-center mb-0 statusAbbr" *ngIf="loggedInUser.roleID == 13">
                        <span>{{"PD (Past due)" | translate}}</span>
                        <span>{{"LT (Lead time)" | translate }}</span>
                        <span>{{"FP (Future past due)" | translate }}</span>
                        <span>{{"AK (Ack needed)" | translate}}</span>
                        <span>{{"AO (All open order)" | translate}}</span>
                    </p>

                    <app-data-table 
                    style="margin-top: 22px" 
                    defaultSortBy="name"
                    [columns]="columns" 
                    [totalRecordsForTable]="totalRecords"
                    [dataSourceForTable]="records"
                    [route]="url"
                    [filters] ="filters"
                    (dataOutput)="getCheckedDataOutput($event)"
                    >
                    <ng-template let-column let-data="element" let-value="value">
                        <div *ngIf="column.def == 'status'" class="flex items-center space-x-2">
                            <mat-slide-toggle [checked]="value == true" (change)="onToggleChange($event, data)">
                            </mat-slide-toggle>
                        </div>

                        <div *ngIf="column.def == 'compare'" sticky>
                            <mat-checkbox [checked]="isVendorSelected(data)" (change)="onCheckBoxClick($event,data)"></mat-checkbox>
                        </div>

                        <span *ngIf="column.def == 'latestPostingDate'" class="px-3">
                            {{ (data.latestPostingDate | date: 'MM/dd/yyyy')  }}
                        </span>
                        <span *ngIf="column.def == 'lastPostingDate'" class="px-3">
                            {{ (data.lastPostingDate | date: 'MM/dd/yyyy')  }}
                        </span>

                        <div *ngIf="column.def == 'view'" class="flex flex-row justify-start">
                            <button mat-stroked-button color="primary">
                                {{'Delete' | translate}}
                            </button>
                            <button mat-stroked-button color="primary">
                                {{'Update' | translate }}
                            </button>
                        </div>
                    </ng-template>  
                    </app-data-table>           
                </div>
            </div>
        </div>


        
        <!-- *ngIf="loggedInUser.roleID != 13" -->
        <div class="card p-4 mb-4 pb-0" >
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex">
                        <span class="vendor-per pt-2 w-50">{{"Report Sending Option" | translate }}</span>
                        <select class="form-control plant-select w-50" [(ngModel)]="filters.sendEmailFor" >
                            <option value="displayFirst">{{'Display First' | translate}}</option>
                            <option value="directEmail">{{'Direct Email' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Show only for roles other than Vendor -->
                    <ng-container *ngIf="loggedInUser.roleID != 13">
                      <div class="d-flex">
                        <span class="vendor-per pt-2 w-50">{{ 'Report Send To' | translate }}</span>
                        <select class="form-control plant-select w-50" [(ngModel)]="filters.sendEmailTo">
                          <option value="">{{'Select' | translate}}</option>
                          <option value="Buyer">{{'Buyer' | translate}}</option>
                          <option value="Vendor">{{'Vendor' | translate}}</option>
                        </select>
                      </div>
                    </ng-container>
                  </div>
                  

                <!-- <div class="col-md-6  col-sm-12"> 
                    <div class="d-flex">
                        <span class="vendor-per w-25 pt-2">{{ 'Report Send To' | translate }}:</span>
                        <ng-multiselect-dropdown style="width: 80%;"
                            #multiSelect
                            [placeholder]="'Custom Placeholder'"
                            [settings]="dropdownSettings"
                            [data]="dropdownList"
                            [(ngModel)]="selectedItems"
                            [disabled]="false"
                            (onFilterChange)="onFilterChange($event)"
                            (onDropDownClose)="onDropDownClose($event)"
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="onDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                            >
                        </ng-multiselect-dropdown>
                    </div>
                </div> -->

                <div class="col-md-4 ml-auto">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary"
                            style="border-radius: 50px;width: 100%;border:0px;white-space:nowrap;" (click)="sendEmail()">{{"Send Email" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- *ngIf="loggedInUser.roleID != 13" -->
        <div  class="card p-4 mb-4 pb-0" *ngIf="loggedInUser.roleID != 13">
            <div class="otd-para pr-0">
                <div class="row">
                    <div class="col-md-6" style="padding: 0px 30px;" >
                        <h4 class="mb-0 pro-name uer-font text-height-3" style="line-height: 30px;font-size: 15px;">
                            <!-- {{byopenpotitle}}--> 
                            <!-- <span style="color:#d51b22;">Smiletale %</span> By <span style="color:#d51b22;">Smiletale Plant2</span> -->
                            <span style="color:#d51b22;">{{comparisonRight | translate}}</span>
                        </h4>
                        <div class="row" >
                            <div class="col-md-4" >
                            </div>
                            <div class="col-md-2">
                                <h3><b>{{"Spend%"  | translate }}</b></h3>
                            </div>
                            <div class="col-md-2">
                                <h3><b>{{"Line%" | translate }}</b></h3>
                            </div>
                            <div class="col-md-4 timepla">
                                <h3><b>{{"Time" | translate }}</b></h3>
                            </div>
                        </div>
                        <ng-container *ngIf="comparisons.comparison_right.length > 0">
                            <div class="row"  *ngFor="let comparisonRight of comparisons.comparison_right">
                                <div class="col-md-4" >
                                    <h3>{{comparisonRight.optionValues?comparisonRight.optionValues:'' | translate}}</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3>{{comparisonRight.spend?comparisonRight.spend:'0.00%'}}</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3>{{comparisonRight.line?comparisonRight.line:'0.00%'}}</h3>
                                </div>
                                <div class="col-md-4 timepla">
                                    <h3>{{comparisonRight.time?comparisonRight.time:'0.00%'}}</h3>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    
                    <div class="col-md-6" style="padding: 0px 30px;">
                        <h4 class="mb-0 pro-name uer-font text-height-3" style="line-height: 30px;font-size: 15px;">
                            <!-- <span style="color:#d51b22;">Smiletale</span> % By <span style="color:#d51b22;">Plant2</span> -->
                            
                            <span style="color:#d51b22;">{{comparisonLeft}}</span>
                        </h4>
                        <div class="row" >
                            <div class="col-md-4" >
                            </div>
                            <div class="col-md-2">
                                <h3 style="white-space: nowrap;"><b>{{"Spend%" | translate }}</b></h3>
                            </div>
                            <div class="col-md-2">
                                <h3 style="white-space: nowrap;"><b>{{"Line%" | translate }}</b></h3>
                            </div>
                            <div class="col-md-4 timepla">
                                <h3 style="white-space: nowrap;"><b>{{"Time"  | translate }}</b></h3>
                            </div>
                        </div>
                        <ng-container *ngIf="comparisons.comparison_Left.length > 0">
                            <div class="row"  *ngFor="let comparisonLeft of comparisons.comparison_Left">
                                <div class="col-md-4" >
                                    <h3 style="white-space: nowrap;">{{comparisonLeft.optionValues?comparisonLeft.optionValues:'' | translate}}</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3 style="white-space: nowrap;">{{comparisonLeft.spend?comparisonLeft.spend:'0.00%'}}</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3 style="white-space: nowrap;">{{comparisonLeft.line?comparisonLeft.line:'0.00%'}}</h3>
                                </div>
                                <div class="col-md-4 timepla">
                                    <h3 style="white-space: nowrap;">{{comparisonLeft.time?comparisonLeft.time:'0.00%'}}</h3>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5" *ngIf="loggedInUser.roleID != 13">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">{{comparisonRight}}
                                        </span><span class="pr-3" style="float: right;cursor: pointer;" mat-button (click)="openDialogNew(comparisonLeft,comparisons.comparison_right,'openpoexpeditor-comparisons')">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>
                                <app-bar [chartData]="comparisons.comparison_right" [chartFor]="'openpoexpeditor-comparisons'" ></app-bar>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5" *ngIf="loggedInUser.roleID != 13">
            <div class="col-md-12 w-100">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mx-auto text-right">
                                <h3 class="text-center pt-3 pb-3"><span
                                        style="font-size:17px; color:#131523;font-weight: 600;">{{comparisonLeft}}
                                         </span><span class="pr-3" style="float: right;cursor: pointer;"
                                        mat-button (click)="openDialogNew(comparisonRight,comparisons.comparison_Left,'openpoexpeditor-comparisons')">
                                        <i class="fa fa-expand" aria-hidden="true"></i></span></h3>
                                <app-bar [selfFutureDays]="filters?.selfdefinedfuturedays" [chartData]="comparisons.comparison_Left" [chartFor]="'openpoexpeditor-comparisons'"></app-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</div>
<!--**********************************
    Content body end
***********************************-->