<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="pro-form pt-4">
                        <form [formGroup]="changePasswordForm">
                            <div class="row">                                
                                <div class="col-md-6 mb-4">
                                    <div class="position-relative mt-4">
                                        <input name="password" [type]="showPassword ? 'text' : 'password'"
                                            class="form-control pwd-control" placeholder="Password"
                                            formControlName="password" />
                                        <div class="eyeico">
                                            <i alt="show" class="fa fa-eye-slash eye-show fa-lg"
                                                (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
                                            <i alt="hide" class="fa fa-eye eye-hide fa-lg"
                                                (click)="showPassword = !showPassword" [class.hide]="!showPassword"></i>
                                        </div>
                                        <mat-error *ngIf="isControlHasError('password','required')">
                                            <p class="pt-2">Password Required</p>
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <!-- <input matInput class="border-0" placeholder="Confirm Your Password*" value=""
                                        formControlName="confirmpassword"> -->
                                    <div class="position-relative mt-4">
                                        <input [type]="showconfirmPassword ? 'text' : 'password'"
                                            class="form-control pwd-control" placeholder="Confirm Your Password*"
                                            formControlName="confirmpassword" />
                                        <div class="eyeico">
                                            <i alt="show" class="fa fa-eye-slash eye-show fa-lg"
                                                (click)="showconfirmPassword = !showconfirmPassword"
                                                [class.hide]="showconfirmPassword"></i>
                                            <i alt="hide" class="fa fa-eye eye-hide fa-lg"
                                                (click)="showconfirmPassword = !showconfirmPassword"
                                                [class.hide]="!showconfirmPassword"></i>
                                        </div>
                                        <mat-error *ngIf="isControlHasError('confirmpassword','required')">
                                            <p>Confirm Password Required</p>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="changePasswordForm.get('confirmpassword').errors && changePasswordForm.get('confirmpassword').errors.confirmpassword">
                                            <p>Password didn't match.</p>
                                        </mat-error>
                                    </div>
                                </div>


                                <div class="text-center mt-3 mb-4 pl-3">
                                    <button (click)="onsubmit()" class="btn btn-primary btn-block mb-4">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>