<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
  
      <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="profile card card-body px-3 pt-3 pb-3">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6" style="border-right: rgba(0, 0, 0, 0.4) solid 1px;">
                    <app-otd-parameter></app-otd-parameter>
                </div>            
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6" style="border-right: rgba(0, 0, 0, 0.4) solid 1px;">
                    <app-ncr-parameter></app-ncr-parameter>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6" style="border-right: rgba(0, 0, 0, 0.4) solid 1px;">
                    <app-ppv-parameter></app-ppv-parameter>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <app-lta-parameter></app-lta-parameter>
                </div>
            </div>            
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!--**********************************
      Content body end
  ***********************************-->

  <!--**********************************
	Content body start
***********************************-->
<div class="content-body pt-0">
  <div class="container-fluid pt-0">

    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-3">
          <app-delivery></app-delivery>                     
        </div>
      </div>
    </div>

  </div>
</div>
<!--**********************************
    Content body end
***********************************-->

 <!--**********************************
	Content body start
***********************************-->
<div class="content-body pt-0">
  <div class="container-fluid pt-0">

    <!-- row -->
    <div class="row">
      <div class="col-md-7">
        <div class="profile card card-body px-3 pt-3 pb-3">
            <app-linechart-option></app-linechart-option>
        </div>
      </div>
      <div class="col-md-5">
        <div class="profile card card-body px-3 pt-3 pb-3">
          <app-metrics-weight></app-metrics-weight>
        </div>
      </div>
    </div>
  </div>
</div>
<!--**********************************
    Content body end
***********************************-->

<div class="content-body pt-0">
  <div class="container-fluid pt-0">

<app-product-cat></app-product-cat>

</div>
</div>





