.openPoDate {
    position: absolute;
    display: flex;
    align-items:center;
    margin-top: 0.8rem;
    font-weight: bold;
    margin-left: 22px;
}

.openPoDateForVendor {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 22px;
}

@media (max-width: 575px) {
    .openPoDate {
        text-align: center;
        position: relative;
        display: flow;
        margin-bottom: 20px;
        font-weight: bold;
    }
}