<div class="fullpop">
    <div class="vendor-graph" style="height: 65vh;">
        <h3 class="text-center">Current Open PO Status<span class="pr-3" style="float: right;cursor: pointer;">
                <button mat-dialog-close style="border: 0px;background: none;">
                    <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></button></span></h3>
    
                    <p class="text-center mb-0">
                        <span class="total-red-new-ven">FuturedueLine%</span>
                        <span class="total-red-new-ven po-status">FuturedueValue%</span>
                        <span class="total-red-new-ven">Ack'dNeededLine%</span>
                        <span class="total-red-new-ven">Ack'd needed value%</span>
                        <span class="total-red-new-ven">PastdueLine%</span>
                        <span class="total-red-new-ven">PastdueValue%</span>
                    </p>
                    <app-current-open-po-status-tablegraph></app-current-open-po-status-tablegraph>
    </div>
    </div>