<!-- <div class="authincation h-100 login-bg">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-5 col-md-7">
                <div class="text-center mb-5 pb-5">
                    <img src="assets/images/login-logo.png" width="200" alt="">
                </div>
                
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="authincation-content">
    
</div> -->

<div class="row no-gutters">
    <div class="col-xl-12">
        <div class="auth-form">
            <h2 class="text-center mb-3" style="font-weight: 700;">Request Sent!</h2>
            <p class="text-center">A verification email has been sent to your email address. Kindly
                check email to reset your password</p>                                    
                <div class="text-center mt-5">
                    <a mat-dialog-close [routerLink]="['/login']" class="btn btn-primary btn-block ok"> Ok </a>
                </div>
        </div>
    </div>
</div>