<div class="row">
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use">
            <p>Pastdue PO</p>
            <h2>20 Lines <span class="pl-3">20%</span></h2>
            <h2>$30,000 <span class="pl-3">30%</span></h2>
            <div class="new-use-red-b">
                <div class="align-items-center"><img src="../assets/images/newuser.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use active-user ">
            <p>Ack'd Needed PO</p>
            <h2>40 Lines <span class="pl-3">50%</span></h2>
            <h2>$40,000 <span class="pl-3">30%</span></h2>
            <div class="new-use-red-b active-user-box">
                <div class="align-items-center"><img src="../assets/images/activeuser.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use dayspla">
            <p>Future Pastdue PO <span><input type="text" name="" class="indays1" placeholder="14" maxlength="3"></span> Days</p>
            <h2>20 Lines <span class="pl-3">20%</span></h2>
            <h2>$30,000 <span class="pl-3">30%</span></h2>
            <div class="new-use-red-b">
                <div class="align-items-center"><img src="../assets/images/ppv.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="new-use active-user">
            <p>Total Materials</p>
            <h2 style="font-size:22px; font-weight:600;" class="pt-2 pb-3">50 Materials</h2>
            <div class="new-use-red-b active-user-box">
                <div class="align-items-center"><img src="../assets/images/materialregistrations-icon.png" alt=""></div>
            </div>
        </div>
    </div>
</div>