<div style="display:table !important;width:700px;">
    <!-- <h1 mat-dialog-title>Upgrade Subscription!</h1> -->
    <div mat-dialog-content>
        <div *ngIf="(currentPlan.name == 'PO MANAGER' || currentPlan.name == 'SCORECARD') && (selectedPlan.name == 'SCORECARD' || selectedPlan.name == 'PO MANAGER');else else_content">
            <p>Your subscription from <strong>{{currentPlan.descriptions | translate}}</strong> will be discontinued and switched to <strong>{{selectedPlan.descriptions | translate}}</strong></p>
            <p><strong>From</strong> {{currentPlan.descriptions | translate}}</p>
            <p><strong>To</strong> {{selectedPlan.descriptions | translate}}</p>
            <p>
                <strong>Agreement Terms:</strong> When you change your subscription type, the remaining agreement term will apply to the newly selected product begin from {{ today | date:'fullDate' }}. 
                If applicable, you will be charged a prorated amount based on the remaining time of your current subscription term. This charge reflects the difference in pricing between the two products, adjusted for the remaining duration, starting <strong>{{ today | date:'fullDate' }}</strong>. 
            </p>
            <p>
                <strong>Auto-Renewals</strong> Subscriptions will automatically renew at the beginning of next billing period unless canceled before the renewal date. No refunds will be issued for cancellations after renewal. 
            </p>
            <p>By Proceeding, you acknowledge and agree to these terms </p>
        </div>
        <ng-template #else_content>
            <div *ngIf="(currentPlan.name == 'PO MANAGER' || currentPlan.name == 'SCORECARD' || currentPlan.name == 'COMPLETE') && (selectedPlan.name == 'COMPLETE');">
                <p>Your subscription from <strong>{{currentPlan.descriptions | translate}}</strong> will be discontinued and switched to <strong>{{selectedPlan.descriptions | translate}}</strong></p>
                <p><strong>From</strong> {{currentPlan.descriptions | translate}}</p>
                <p><strong>To</strong> {{selectedPlan.descriptions | translate}}</p>
                <p>
                    <strong>Prorated Charges During Product Change:</strong> When upgrading from ScoreCard or PO Manager to Complete, you will be charged a  
                    <strong>prorated amount</strong> based on the remaining time of your current subscription term. This charge reflects the difference in pricing between the two products, adjusted for the remaining duration, starting <strong>{{ today | date:'fullDate' }}</strong>.
                </p>
                <p>
                    <strong>Changes at End of Term:</strong> If you wish to downgrade from Complete product, 
                    please cancel your subscription and re-subscribe to PO Manager or Scorecard products. 
                    <strong>No refunds</strong> will be issued. Alternatively, you can wait until your current subscription ends, cancel it, and then subscribe to a different product.
                </p>

                <p>
                    <strong>Auto-Renewals</strong> Subscriptions will automatically renew at the beginning of next billing period unless canceled before the renewal date. No refunds will be issued for canceled renewals. 
                </p>
                <p>By Proceeding, you acknowledge and agree to these terms </p>
            </div>
        </ng-template>
    </div>
    <div mat-dialog-actions>
        <button mat-dialog-close (click)="onClose('')" class="profi-btn-yes mt-4" style="width: auto;color:#fff;
        margin: 0px auto;margin-right: 20px;">Read & Proceed</button>
        <button mat-dialog-close (click)="onClose(null)" class="profi-btn-no mt-4" style="width: auto;margin: 0px auto;margin-left: 0px;">Cancel</button>
    </div>
</div>