<div style="width:505px;">
    <h1 mat-dialog-title>Subscription Cancelled!</h1>
    <div mat-dialog-content>
        Your subscription to plan x has been cancelled. You may contact support for a refund.
        <!-- Your ScoreUs subscription has been cancelled along with all your users. Please subscribe again from Subscription
        section when needed. -->
    </div>
    <div mat-dialog-actions>
        <button  class="profi-btn-yes mt-4 mb-4 mr-3" style="width: auto;color:#fff;
        margin: 0px auto;">Confirm</button>
        <button  class="profi-btn-no mt-4 mb-4 pl-5 pr-5 ml-3" style="width: auto;
        margin: 0px auto;">Cancel</button>
    </div>
</div>